[submodule "linid-im-api"]
	path = linid-im-api
	url = git@github.com:linagora/linid-im-api.git
[submodule "linid-im-front"]
	path = linid-im-front
	url = git@github.com:linagora/linid-im-front.git
[submodule "linid-im-front-community-plugins"]
	path = linid-im-front-community-plugins
	url = git@github.com:linagora/linid-im-front-community-plugins.git
