[submodule "tests/e2e"]
	path = tests/e2e
	url = https://github.com/zorin95670/e2e-test-runner
[submodule "linid-im-front-community-plugins"]
	path = linid-im-front-community-plugins
	url = git@github.com:linagora/linid-im-front-community-plugins.git
[submodule "linid-ai-core"]
	path = linid-ai-core
	url = ssh://git@ci.linagora.com:7999/linagora/lrs/LinID/linid-identity-manager/linid-ai-core.git
	branch = feature/code-review
	update = none
