name: test

services:
  mock-api:
    image: mock-api
    container_name: mock-api
    networks:
      - test-network
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3000/api/users"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 10s

  linid-im-api:
    image: linid-im-api
    container_name: linid-im-api
    networks:
      - test-network
    volumes:
      - ../plugins:/plugins
      - ./resources/config.yaml:/config/config.yaml
      - ./resources/i18n:/i18n
    environment:
      - CONFIGURATION_PATH=${CONFIGURATION_PATH}
      - PLUGIN_LOADER_PATH=${PLUGIN_LOADER_PATH}
      - I18N_EXTERNAL_PATH=${I18N_EXTERNAL_PATH}
      - AUTHORIZATION_ACCEPT_ALLOW_ALL=${AUTHORIZATION_ACCEPT_ALLOW_ALL}
    depends_on:
      mock-api:
        condition: service_healthy

  linid-im-front:
    image: linid-im-front
    container_name: linid-im-front
    networks:
      - test-network
    ports:
      - 9000:80
    volumes:
      - ./resources/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./resources/design.json:/usr/share/nginx/html/design.json:ro
      - ./resources/i18n.json:/usr/share/nginx/html/i18n.json:ro
      - ./resources/i18n/fr-FR.json:/usr/share/nginx/html/i18n/fr-FR.json:ro
      - ./resources/i18n/en-US.json:/usr/share/nginx/html/i18n/en-US.json:ro
      - ./resources/modules.json:/usr/share/nginx/html/modules.json:ro
      - ./resources/moduleUsers.json:/usr/share/nginx/html/moduleUsers.json:ro
      - ./resources/remotes.json:/usr/share/nginx/html/remotes.json:ro

  catalog-ui:
    image: catalog-ui
    container_name: catalog-ui
    networks:
      - test-network
    volumes:
      - ./resources/nginx-modules.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - linid-im-front

  module-users:
    image: module-users
    container_name: module-users
    networks:
      - test-network
    volumes:
      - ./resources/nginx-modules.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - linid-im-front

networks:
  test-network:
    name: test-network
    driver: bridge
