authorization:
  type: allow-all

tasks:
  - type: response-to-json
    name: parseJsonResponse

providers:
  - name: http-provider
    type: http
    baseUrl: http://mock-api:3000
    headers:
      Content-Type: application/json

entities:
  - name: user
    route: users
    provider: http-provider
    tasks:
      - name: parseJsonResponse
        phases:
          - beforeResponseMappingFindAll
          - beforeResponseMappingFindById
          - beforeResponseMappingCreate
          - beforeResponseMappingUpdate
          - beforeResponseMappingPatch
    access:
      findAll:
        uri: "/api/users?page={{ context.pageable.pageNumber }}&size={{ context.pageable.pageSize }}{% if context.filters.email %}&email={{ context.filters.email[0] }}{% endif %}{% if context.filters.firstName %}&firstName={{ context.filters.firstName[0] }}{% endif %}{% if context.filters.lastName %}&lastName={{ context.filters.lastName[0] }}{% endif %}"
        method: GET
        page: "{{ context.response.pageable.pageNumber }}"
        size: "{{ context.response.pageable.pageSize }}"
        total: "{{ context.response.totalElements }}"
        itemsCount: "{{ context.response.content | length }}"
        entityMapping:
          id: "{{ context.response.content[index].id }}"
          email: "{{ context.response.content[index].email }}"
          firstName: "{{ context.response.content[index].firstName }}"
          lastName: "{{ context.response.content[index].lastName }}"
          displayName: "{{ context.response.content[index].displayName }}"
          enabled: "{{ context.response.content[index].enabled }}"
          role: "{{ context.response.content[index].role }}"
          dateOfBirth: "{{ context.response.content[index].dateOfBirth | replace('-', '/') }}"
      findById:
        uri: "/api/users/{{ context.id }}"
        method: GET
        entityMapping:
          id: "{{ context.response.id }}"
          email: "{{ context.response.email }}"
          firstName: "{{ context.response.firstName }}"
          lastName: "{{ context.response.lastName }}"
          displayName: "{{ context.response.displayName }}"
          enabled: "{{ context.response.enabled }}"
          role: "{{ context.response.role }}"
          dateOfBirth: "{{ context.response.dateOfBirth | replace('-', '/') }}"
      create:
        uri: /api/users
        method: POST
        body: "{{ entity | tojson }}"
        entityMapping:
          id: "{{ context.response.id }}"
          email: "{{ context.response.email }}"
          firstName: "{{ context.response.firstName }}"
          lastName: "{{ context.response.lastName }}"
          displayName: "{{ context.response.displayName }}"
          enabled: "{{ context.response.enabled }}"
          role: "{{ context.response.role }}"
          dateOfBirth: "{{ context.response.dateOfBirth | replace('/', '-') }}"
      update:
        uri: "/api/users/{{ context.id }}"
        method: PUT
        body: "{{ entity | tojson }}"
        entityMapping:
          id: "{{ context.response.id }}"
          email: "{{ context.response.email }}"
          firstName: "{{ context.response.firstName }}"
          lastName: "{{ context.response.lastName }}"
          displayName: "{{ context.response.displayName }}"
          enabled: "{{ context.response.enabled }}"
          role: "{{ context.response.role }}"
          dateOfBirth: "{{ context.response.dateOfBirth | replace('/', '-') }}"
      patch:
        uri: "/api/users/{{ context.id }}"
        method: PATCH
        body: "{{ entity | tojson }}"
        entityMapping:
          id: "{{ context.response.id }}"
          email: "{{ context.response.email }}"
          firstName: "{{ context.response.firstName }}"
          lastName: "{{ context.response.lastName }}"
          displayName: "{{ context.response.displayName }}"
          enabled: "{{ context.response.enabled }}"
          role: "{{ context.response.role }}"
          dateOfBirth: "{{ context.response.dateOfBirth | replace('/', '-') }}"
      delete:
        uri: "/api/users/{{ context.id }}"
        method: DELETE
        result: "true"
    attributes:
      - name: id
        type: String
        input: Text
      - name: email
        type: String
        required: true
        input: Text
        inputSettings:
          pattern: "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$"
        validations:
          - type: required
            phases: [beforeCreate, beforeUpdate]
          - type: regex
            pattern: "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.com$"
            phases: [beforeCreate, beforeUpdate]
      - name: firstName
        type: String
        required: true
        input: Text
        inputSettings:
          minLength: 3
          maxLength: 20
        validations:
          - type: required
            phases: [beforeCreate, beforeUpdate]
      - name: lastName
        type: String
        required: true
        input: Text
        inputSettings:
          minLength: 3
          maxLength: 20
        validations:
          - type: required
            phases: [beforeCreate, beforeUpdate]
      - name: displayName
        type: String
        input: Text
      - name: enabled
        type: Boolean
        input: Boolean
      - name: role
        type: String
        input: Text
      - name: dateOfBirth
        type: String
        input: Date
